.button-add-ball {
  width: 100%;
}

.list-item {
  .list-item-number {
    padding: 8px !important;
  }
  .list-item-description {
    vertical-align: bottom;
    padding-left: 10px;
    height: 25px;
    display: inline-block;
  }
  .list-item-checked {

  }
}
