list {
  ion-list {
    ion-item {
      // Hide outdated mark icon on usual events
      ion-avatar {
        ion-icon {
          display: none;
        }
      }
      // Styling outdated event item - display icon and highlight time
      &.outdated {
        ion-avatar {
          position: relative;
          ion-icon {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            font-size: 50px;
            line-height: 40px;
          }
        }
        .time {
          color: color($colors, danger, base);
        }
      }
    }
  }
}
