<header-component [title]="'list' | translate"></header-component>
<ion-content padding>
  <ion-list *ngIf="events.length">
    <ion-item  *ngFor="let e of events;" [ngClass]="(e.datestamp | outdated: datestamp) ? 'outdated' : ''"
               [hidden]="(e.datestamp | outdated: datestamp) ? selectedEventType === eventTypes.ACTUAL : selectedEventType === eventTypes.OUTDATED">
      <ion-avatar item-start (click)="openEvent(e.id)">
        <ion-icon name="md-power" color="danger"></ion-icon>
        <img [src]="e.photo ? e.photo : dummyPhoto">
      </ion-avatar>
      <div class="item-info" (click)="openEvent(e.id)">
        <h2>{{e.title}}</h2>
        <h3 class="time">{{e.start}} {{e.time}}</h3>
        <p>{{e.description}}</p>
      </div>
      <ion-icon name="ios-remove-circle" color="danger" item-end (click)="popEvent(e)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" *ngIf="eventTypes" [(ngModel)]="selectedEventType">
      <ion-segment-button value="{{eventTypes.ACTUAL}}">
        <ion-label>{{eventTypes.ACTUAL | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="{{eventTypes.OUTDATED}}">
        <ion-label>{{eventTypes.OUTDATED | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
