<header-component [title]="'Balls list'"></header-component>
<ion-content padding>
  <ion-list *ngIf="events.length">
    <ion-item  *ngFor="let e of events;" >
      <ion-avatar item-start>
        <img [src]="e.photo ? e.photo : dummyPhoto">
      </ion-avatar>
      <h2>{{e.title}}</h2>
      <h3>{{e.start}} {{e.time}} - {{e.end}}</h3>
      <p>{{e.description}}</p>
      <ion-icon name="ios-create-outline" color="primary" item-end (click)="openEvent(e.id)"></ion-icon>
      <ion-icon name="ios-close-circle" color="danger" item-end (click)="popEvent(e)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
