<header-component [title]="'add' | translate"></header-component>

<ion-content padding>
  <form [formGroup]="addEventForm" (ngSubmit)="addEvent()">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="{{'title' | translate}}" formControlName="title"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-textarea formControlName="description" placeholder="{{'description' | translate}}"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-label>{{'todolist' | translate}}</ion-label>
      <div class="list-item" formArrayName="list" *ngFor="let item of addEventForm.get('list').controls; let i = index;">
        <div [formGroupName]="i">
          <ion-item>
            <ion-input type="text" formControlName="description" placeholder="{{'todolistitem' | translate}} {{i+1}}" item-start></ion-input>
            <button class="button-nulled button-right button-list-control" type="button" *ngIf="i" (click)="removeListItem(i)" ion-button icon-only item-end>
              <ion-icon name="ios-close-circle" color="danger"></ion-icon>
            </button>
          </ion-item>
        </div>
      </div>
      <button type="button" ion-button round full color="secondary" class="button-add-ball button-bottom" (click)="addListItem()">{{'additem' | translate}}</button>
    </ion-list>
    <ion-list class="form-list">
      <ion-item>
        <ion-label>{{'start' | translate}}</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" formControlName="start"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>{{'time' | translate}}</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="time"></ion-datetime>
      </ion-item>
      <ion-card>
        <img [src]="addEventForm.controls['photo'].value ? addEventForm.controls['photo'].value : dummyPhoto"/>
        <ion-card-content>
          <button type="button" ion-button color="{{addEventForm.controls['photo'].value ? 'primary' : 'secondary'}}" full round (click)="takePhoto()">
            <span *ngIf="!addEventForm.controls['photo'].value">{{'addphoto' | translate}}</span>
            <span *ngIf="addEventForm.controls['photo'].value">{{'changephoto' | translate}}</span>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <button type="submit" ion-button round full color="secondary" class="button-add-ball button-bottom" [disabled]="!addEventForm.valid">{{'add' | translate}}</button>
  </form>
</ion-content>
