<header-component [title]="'Add ball'"></header-component>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Title" [(ngModel)]="event.title"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Description" [(ngModel)]="event.description"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list>
    <ng-template ngFor [ngForOf]="event.list" let-i="index">
      <ion-input [(ngModel)]="event.list[i]"></ion-input>
    </ng-template>
    <button ion-button round full (click)="addListItem()">Add item to list</button>
  </ion-list>
  <ion-list class="form-list">
    <ion-item>
      <ion-label>{{'start' | translate}}</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.start"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Ends</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.end"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!event.allDay">
      <ion-label>{{'time' | translate}}</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.time"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-toggle [(ngModel)]="event.repeat"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>All day</ion-label>
      <ion-toggle [(ngModel)]="event.allDay"></ion-toggle>
    </ion-item>
    <ion-card>
      <img [src]="event.photo ? event.photo : dummyPhoto"/>
      <ion-card-content>
        <button ion-button color="{{event.photo ? 'primary' : 'secondary'}}" full round (click)="takePhoto()">
          <span *ngIf="!event.photo">Take Photo</span>
          <span *ngIf="event.photo">Change Photo</span>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <button ion-button round full color="secondary" class="button-add-ball button-bottom" (click)="addEvent()">{{'add' | translate}}</button>
</ion-content>
