html{
  body{
    ion-content {
      >.scroll-content {
        height: auto;
        padding-bottom: 0 !important;
      }
      .list-item {
        ion-item {
          .item-inner {
            border-bottom: none !important;
            flex: 0 80px;
          }
        }
      }
      button {
        &.button-nulled {
          box-shadow: none !important;
          background: none !important;
          border: none !important;
        }
        &.button-left {
          left: -15px;
        }
        &.button-right {
          right: -15px;
        }
        &.button-list-control {
          ion-icon {
            font-size: 28px;
          }
        }
      }
    }
  }
}

.scroll-content {
  >* {
    &:last-child {
      margin-bottom:80px;
    }
  }
}

ng-fullcalendar {
  .fc-header-toolbar {
    margin-bottom: 0 !important;
    .fc-center {
      margin: 15px 0;
    }
  }
  .fc-scroller {
    overflow: visible;
    height: 100% !important;
  }
}



