html{
  body{
    ion-content {
      // Scroll content fix for avoid inifinite scroll on Android when keyboard is active
      >.scroll-content {
        height: auto;
        padding-bottom: 0 !important;
      }
      // Fix list item control button area width and display
      .list-item {
        ion-item {
          .item-inner {
            border-bottom: none !important;
            flex: 0 80px;
          }
        }
      }
      // Add clean button due to ion-list icon-only button directive bug
      button {
        &.button-nulled {
          box-shadow: none !important;
          background: none !important;
          border: none !important;
        }
        &.button-left {
          left: -15px;
        }
        &.button-right {
          right: -15px;
        }
        &.button-list-control {
          ion-icon {
            font-size: 28px;
          }
        }
      }
    }
  }
}

.scroll-content {
  // Scroll content margin for nav tabs container ranging
  >* {
    &:last-child {
      margin-bottom:80px;
    }
  }
}

// Fullcalendar global styling fixes for avoid unnecessary scroll
ng-fullcalendar {
  .fc-header-toolbar {
    margin-bottom: 0 !important;
    .fc-center {
      margin: 15px 0;
    }
  }
  .fc-scroller {
    overflow: visible;
    height: 100% !important;
  }
}

// Footer segmen select

ion-footer {
  ion-toolbar.toolbar {
    min-height: auto;
    top: 8px;
    padding: 0;
    ion-segment {
      ion-segment-button.segment-button {
        line-height: 1em;
      }
    }
  }
}



